extends layout

block content
  .container
    .pull-right
      form.form-inline(action="/upload", method="post", enctype="multipart/form-data")
        .form-group
          input.btn(type="file")
        .form-group
          input.btn.btn-primary(type="submit", value="Upload")
    table.table
      tr
        th ID
        th Subject
        th Date
        th Favorite Counts
      tr
        td 10
        td This is a test
        td 2015/1/5
        td 71