extends layout

block content
  .container
    .pull-right
      form.form-inline(action="/upload", method="post", enctype="multipart/form-data")
        .form-group
          input.btn(name="email", type="file")
        .form-group
          input.btn.btn-primary(type="submit", value="Upload")
    table.table
      tr
        th Name
        th Email
        th Date
        th Like Counts
      each employee in employees
        tr
          td
            a(href="/employees/#{employee.id}")= employee.name
          td= employee.email
          td= employee.newestResumeDate
          td= employee.likes