extends layout

block content
  .container
    table.table
      tr
        th Name
        th Email
        th Date
        th Like Counts
      each employee in employees
        tr
          td
            a(href="/employees/#{employee.id}")= employee.name
          td= employee.email
          td= moment(employee.NewestResume.createdAt).format('YYYY/MM/DD HH:mm:ss')
          td= employee.likes