doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    title HR Search
  body
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        .pull-right
          .btn-group(role="group", aria-label="...")
            if isAuth
              a.btn.btn-danger.navbar-btn(href="/logout") Logout
            else
              a.btn.btn-primary.navbar-btn(href="/login") Login
              a.btn.btn-default.navbar-btn(href="/signup") Register
    .container
      h1
        a(href="/")
          img(src="/images/logo.png")
        small Find your best partner
      block content
      nav.navbar.navbar-default.navbar-fixed-bottom
        .container
          form.form-inline(action="/upload", method="post", enctype="multipart/form-data")
            .form-group
              input.btn(name="email", type="file")
            .form-group
              input.btn.btn-primary(type="submit", value="Upload")

            block nav-content
    script(src="/bower_components/jquery/jquery.min.js")
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")